<div class="panel panel-info">
    <span class="close glyphicon glyphicon-remove-sign" ng-click="mailtkCtrl.cancel()"></span>
    <div class="panel-heading">
        <span class="glyphicon glyphicon-envelope"></span> Renvoi  du mail de confirmation
    </div>
    <div class="panel-body">
        <div uib-alert type="danger" class="alert-danger" ng-if="mailtkCtrl.tkForm.error">{{mailtkCtrl.tkForm.error}}</div>

		<form id="tk" class="login__form" name="tkform" role="form" ng-submit="mailtkCtrl.send()">
			<div class="form-group">
                <input type="text" ng-model="mailtkCtrl.tkForm.pseudo" required class="form-control" name="pseudo" placeholder="Votre pseudo"/>
            </div>
			<div class="login__submit">
				<button type="submit" class="btn btn-info center-block">Renvoyer le mail de confirmation</button>
			</div>
		</form>
    </div>
</div>
