.clearChild:after{
content:"";display:table;clear:both
}
.toggler,[ng-click],[ui-sref]{
cursor:pointer
}@font-face{
font-family:oswald-demi;src:url(../fonts/oswald/oswald-demibold-webfont.eot);src:url(../fonts/oswald/oswald-demibold-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/oswald/oswald-demibold-webfont.svg) format("svg"),url(../fonts/oswald/oswald-demibold-webfont.ttf) format("truetype"),url(../fonts/oswald/oswald-demibold-webfont.woff) format("woff"),url(../fonts/oswald/oswald-demibold-webfont.woff2)
}@font-face{
font-family:oswald;src:url(../fonts/oswald/oswald-light-webfont.eot);src:url(../fonts/oswald/oswald-light-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/oswald/oswald-light-webfont.svg) format("svg"),url(../fonts/oswald/oswald-light-webfont.ttf) format("truetype"),url(../fonts/oswald/oswald-light-webfont.woff) format("woff"),url(../fonts/oswald/oswald-light-webfont.woff2)
}@font-face{
font-family:oswald-italic;src:url(../fonts/oswald/oswald-lightitalic-webfont.eot);src:url(../fonts/oswald/oswald-lightitalic-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/oswald/oswald-lightitalic-webfont.svg) format("svg"),url(../fonts/oswald/oswald-lightitalic-webfont.ttf) format("truetype"),url(../fonts/oswald/oswald-lightitalic-webfont.woff) format("woff"),url(../fonts/oswald/oswald-lightitalic-webfont.woff2)
}
.form-group label{
font-weight:400;font-family:Futura,"Trebuchet MS",Arial,sans-serif
}
.form-control,input,select{
border:1px solid rgba(0,0,0,.2);color:#233C5A;border-radius:.5em;transition:all .5s;outline:0;box-shadow:none
}
.form-control:focus,input:focus,select:focus{
border:1px solid #D3EDFA;box-shadow:none
}
.ta-editor.form-control,textarea.form-control{
border-radius:.5em
}
.form-select{
border:none;background:#fff;width:100%
}
.editable-wrap{
width:100%;margin:1em 0;text-align:center
}legend{
line-height:1.3333em
}
.ng-submitted .ng-invalid{
border:1px solid #d9534f
}[class^=panel-heading-]{
margin:0;padding:0
}
.panel{
border-radius:10px;margin-bottom:0
}
.panel-heading{
padding:.5em;font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-size:2em;font-weight:100;line-height:1.5em;text-transform:uppercase;border-radius:10px 10px 0 0
}
.panel-heading:after{
content:"";display:table;clear:both
}
.panel-heading-title{
display:inline-block;padding-bottom:.5rem;padding-top:.5rem
}
.panel-heading-action{
float:right;font-size:1.5rem;position:relative
}
.panel-info{
border:none
}
.panel-info>.panel-heading{
background:#D3EDFA
}
.panel-body{
font-size:.875em;line-height:1.2em
}
.panel-footer{
background:0 0;border:none
}
.panel-footer:after{
content:"";display:table;clear:both
}
.btn,.fc-button{
font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-size:16px;font-weight:100;background:#fff;text-shadow:none;text-transform:uppercase;border-radius:2em;border:none;transition:all ease .3s;box-shadow:0 .125em .125em 0 rgba(0,0,0,.2)
}
.btn:focus,.btn:hover,.fc-button:focus,.fc-button:hover{
box-shadow:0 .25em .25em 0 rgba(0,0,0,.2);border:none;outline:0
}
.btn-info,.btn-primary,.fc-button-info,.fc-button-primary{
background:#003770
}
.btn-info:hover,.btn-primary:hover,.fc-button-info:hover,.fc-button-primary:hover{
background:#003770
}
.btn-danger,.fc-button-danger{
background:#d9534f
}
.btn>.glyphicon,.fc-button>.glyphicon{
margin-right:.5em
}
.btn-spaceLeft,.fc-button-spaceLeft{
margin-left:1em
}
.card__header .btn>.glyphicon,.editable-buttons .btn>.glyphicon{
margin:0
}
.nav{
padding:1em;font-size:16px;font-family:Futura,"Trebuchet MS",Arial,sans-serif
}

.nav:after{
content:"";display:table;clear:both
}
.nav__links{
list-style-type:none;line-height:2em;float:left;padding:.5em .83333%;margin:0;width:33.33333%
}
.nav__links--right{
float:right;width:16.66667%
}
.nav__links--form{
width:33.33333%
}
.nav__brand,.nav__link{
float:left;padding:0 1em;position:relative;cursor:pointer
}
.nav__brand a,.nav__brand a.nav__link,.nav__link a,.nav__link a.nav__link{
font-size:1.125em;text-decoration:none;position:relative
}
.nav__brand{
font-size:2em
}
.nav__link--right{
float:right
}
.nav__sub__links{
list-style-type:none;line-height:2em;float:left;padding:.5em .83333%;margin:0;width:100%
}
.nav--main{
position:relative;background:#fff
}
.nav--main::before{
position:absolute;bottom:-1em;left:0;content:"";height:1em;width:100%;box-shadow:0 .3333em 0 rgba(0,0,0,.3333) inset;
}
.nav--subNav{
background-image:-owg-linear-gradient(to right,#233C5A,#D3EDFA);background-image:-webkit-linear-gradient(to right,#233C5A,#D3EDFA);background-image:-moz-linear-gradient(to right,#233C5A,#D3EDFA);background-image:-o-linear-gradient(to right,#233C5A,#D3EDFA);background-image:linear-gradient(to right,#233C5A,#D3EDFA)
}
.nav-tabs{
list-style-type:none;line-height:2.125em;padding:0;margin:0
}
.nav--inside{
padding-top : 0em
}
.nav-tabs .nav__link,.nav-tabs .nav__link a,.nav-tabs a.nav__link{
color:rgba(255,255,255,.65);transition:all .5s
}
.nav-tabs .nav__link a:hover,.nav-tabs .nav__link:hover,
.nav-tabs a.nav__link:hover{
color:rgba(255,255,255,.85)
}
.nav-tabs .nav__link.active,.nav-tabs .nav__link.active a,.nav-tabs a.nav__link.active{
color:#fff
}
.table>thead>tr>th{
font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-weight:100;font-size:16px;line-height:1.2em
}
.modal{
cursor:default
}
.modal-content{
border-radius:10px
}
.modal-xd{
width:75%
}
.badge__category{
display:inline-block;width:16px;height:16px;margin-right:8px;vertical-align:text-bottom;border:2px solid rgba(255,255,255,.5)
}
.crop{
width:40px;height:40px;border-radius:30px;overflow:hidden;display:inline-block;vertical-align:middle;text-align:center;line-height:40px;background:#e1f5fe;border-top:1px solid rgba(0,0,0,.05);border-bottom:2px solid rgba(0,0,0,.1);box-shadow:0 .125em .125em 0 rgba(0,0,0,.2);transition:all .3s
}
.crop:hover{
box-shadow:0 .25em .25em 0 rgba(0,0,0,.2)
}
.crop--nav{
position:absolute;left:-50px;top:50%;margin-top:-20px
}html{
height:100%;font-size:16px
}body{
height:100%;font-size:16px;font-weight:300;background:#f1f3f5;color:#43464e
}
.wrapper{
height:100%
}
.heading{
padding:.5em 1em;margin-bottom:.5em;font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-size:2em;background-image:-owg-linear-gradient(to right,#233C5A,#D3EDFA);background-image:-webkit-linear-gradient(to right,#233C5A,#D3EDFA);background-image:-moz-linear-gradient(to right,#233C5A,#D3EDFA);background-image:-o-linear-gradient(to right,#233C5A,#D3EDFA);background-image:linear-gradient(to right,#233C5A,#D3EDFA)
}
.heading:after{
content:"";display:table;clear:both
}
.heading__title{
display:inline-block;float:left;width:50%;line-height:1em;margin:0;margin-right:1em;color:rgba(255,255,255,.9)
}
.heading__action{
float:right;font-size:1.5rem;position:relative
}
.heading__nav{
width:33.33333%;margin:0 auto
}
.content{
padding-bottom:1em
}
.content:after{
content:"";display:table;clear:both
}h1,h2,h3,h4,h5,h6{
color:#233C5A;font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-weight:100
}
.fc-view{
background:#fff
}
.fc-event{
border-width:2px;border-color:rgba(0,0,0,.2);color:#fff;padding:.2rem .3333rem;font-size:.8125rem
}
.fc-day-grid,.fc-scroller{
overflow:inherit
}
.fc-ltr .fc-basic-view .fc-day-number{
position:relative
}
.as-sortable-placeholder{
background:#e1f5fe;border:2px dashed #D3EDFA
}
.as-sortable-drag{
box-shadow:0 .25em .25em .25em rgba(0,0,0,.2)
}
.modal-content>.login{
margin-top:0;width:100%;padding:1rem
}
.cards{
display:flex;flex-wrap:wrap;justify-content:space-around
}
.cards--dashboard{
display:block
}
.cards--dashboard:after{
content:"";display:table;clear:both
}
.card{
-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:50%;float:left;padding-left:.83333%;padding-right:.83333%;padding-left:.83333%;padding-right:.83333%;align-items:stretch;padding-bottom:1.66667%
}
.card__item{
height:230px;padding:1em;text-align:center;border-radius:5px;background:#fff;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;transition:all .5s;box-shadow:0 .125em .125em 0 rgba(0,0,0,.2)
}
.card__item:hover{
box-shadow:0 .25em .25em 0 rgba(0,0,0,.2)
}
.card__item:hover,.card__item:hover .card__title{
white-space:normal;transition:all .3s
}
.card__header{
width:100%
}
.card__title{
transition:all .3s;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;margin:0;color:#43464e
}
.card__infos{
display:flex;flex-wrap:wrap;justify-content:space-around
}
.card__info{
flex-grow:0;align-items:stretch;padding:.5rem;margin:0;text-align:center;color:#43464e;font-weight:100
}
.card__info__title{
font-size:.75em;font-weight:200;text-transform:uppercase;color:#748490
}
.card__info__value{
font-weight:100;font-size:3em;line-height:1.2em
}
.card--task{
width:50%;list-style-type:none
}
.card--task .card__item{
text-align:left;height:auto
}
.card--task .card__title{
display:inline-block;margin-top:0
}
.card--task .card__infos{
border-radius:5px;margin-top:1em;overflow:hidden;background:rgba(200,200,200,.13)
}
.card--task .card__info__value{
font-size:2em;line-height:1.5em
}
.card--task .card__action{
opacity:0;transition:all .3s;float:right
}
.card--task .card__contentList{
list-style-type:none;margin:0;padding:0;line-height:40px
}
.card--task .card__contentList:after{
content:"";display:table;clear:both
}
.card--task .card__content{
width:25%;text-align:center;float:left;text-transform:uppercase;color:#748490
}
.card--task:hover .card__action{
opacity:1
}
.card--dashboard{
-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;float:left;padding-left:.83333%;padding-right:.83333%;font-size:.8125rem;padding-left:0;padding-right:0
}
.card--dashboard .card__item{
position:relative;padding:0
}
.card--dashboard .card__item:hover{
box-shadow:0 .375em .375em 0 rgba(0,0,0,.2)
}
.card--dashboard .card__title{
width:40%;font-size:.8125rem;padding:.3333rem
}
.card--task .card__action{
position:absolute;top:0;left:0;width:100%;height:100%
}/*.card--task .card__action a{
text-indent:-9000px;display:block;width:100%;height:100%
}*/.card--dashboard .card__contentList,.card--dashboard .card__infos,.card--dashboard .card__title{
float:left
}
.card--dashboard .card__contentList{
padding:.3333rem;width:60%;line-height:1.2em
}
.card--dashboard .card__contentList .card__content{
width:33.3333%;font-weight:400
}
.card--dashboard .card__infos{
margin-top:0;width:100%
}
.card--dashboard .card__infos .card__info{
padding:.2rem
}
.card--dashboard .card__infos .card__info__value{
font-weight:400;font-size:1.2em
}
.card--dashboard .card__infos .card__info__title{
font-size:.8em;font-weight:400
}
.profil__form,.profil__image{
float:left
}
.profil__form{
width:41.66667%;margin-right:8.33333%
}
.profil__image{
width:50%;padding:0 .83333%
}
.cropArea,.cropImage{
float:left
}
.cropArea{
background:#748490;overflow:hidden;width:49.16667%;margin-right:9.16667%;height:350px
}
.cropImage{
border-radius:150px;width:41.66667%
}
.userIcons{
list-style-type:none;padding:0;padding-left:13.332px
}
.userIcons:after{
content:"";display:table;clear:both
}
.userIcons__item{
float:left;position:relative;width:40px;margin-left:-13.332px;transition:all .3s
}
.userIcons__item .userIcons__username{
opacity:0;transition:all .3s;position:absolute;text-transform:uppercase;font-size:.75em;font-weight:200;padding:.5em;background:rgba(0,0,0,.8);color:#f1f3f5;border-radius:10px;z-index:2;top:-3em;top:0
}
.userIcons__item:hover .userIcons__username{
top:-2rem
}
.userIcons__item:hover .userIcons__actions,.userIcons__item:hover .userIcons__username{
opacity:1;transition:opacity .3s
}
.userIcons__item:hover .userIcons__actions{
background:#d9534f
}
.userIcons__actions{
z-index:2;display:block;width:100%;height:100%;color:#fff;position:absolute;opacity:0;border-radius:5rem
}
.userIcons--multiple:hover .userIcons__item{
margin-left:10px
}
.checkboxDropdown__list{
list-style-type:none
}
.checkboxDropdown{
position:relative;display:inline-block
}
.checkboxDropdown__filters{
position:absolute;top:100%;right:0;visibility:hidden;height:0;opacity:0
}
.checkboxDropdown__filters--show{
visibility:visible;height:auto;opacity:1;transition:opacity ease .5s;z-index:1
}
.checkboxDropdown__list{
width:auto;padding:1em;background:#fff;border:1px solid rgba(0,0,0,.15);border-radius:4px;min-width:160px
}
.checkboxDropdown__item{
font-size:.857rem;font-weight:300
}
.app__container{
height:100%
}
.app__content{
padding:2em 0;margin:0
}
.ui-autocomplete{
z-index:1051
}
.no-project{
padding-left:10px;color:#000
}
.datecell{
border:none!important;font-size:10px!important
}
.exceeded,.exceeded-date,.exceeded-load{
color:#d9534f
}
.list-group{
-webkit-box-shadow:none;margin-bottom:2px
}
.warning{
color:orange
}
.good{
color:green
}
.alreadyRead{
color:#bbbbbb
}


#frame {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 86%;
  min-height: 86%;
  max-height: 86%;
  background: #e6eaea;
}
#frame #sidepanel {
  float: left;
  min-width: 40%;
  max-width: 40%;
  width: 40%;
  height: 100%;
  background: #23527c;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel {
    width: 58px;
    min-width: 58px;
  }
}
#frame #sidepanel #search {
  border-top: 1px solid #23527c;
  border-bottom: 1px solid #23527c;
  font-weight: 300;
}
#frame #sidepanel #search label {
  position: absolute;
  color: #23527c;
  margin: 10px 0 0 20px;
}
#frame #sidepanel #search input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  padding: 10px 0 10px 46px;
  width: calc(100% - 20px);
  border: none;
  background: #ffffff;
  color: #23527c;
}
#frame #sidepanel #search input:focus {
  outline: none;
  background: #ffffff;
}
#frame #sidepanel #search input::-moz-placeholder {
  color: #000000;
}
#frame #sidepanel #contacts {
  height: calc(100%);
  overflow: auto;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts {
    height: 100%;
    overflow: auto;
  }
}
#frame #sidepanel #contacts ul li.contact {
  position: relative;
  padding: 10px 0 15px 0;
  font-size: 0.9em;
  cursor: pointer;
}
#frame #sidepanel #contacts ul li.contact:hover {
  background: #32465a;
}
#frame #sidepanel #contacts ul li.contact.active {
  background: #32465a;
  border-right: 5px solid #435f7a;
}
#frame #sidepanel #contacts ul li.contact .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
}
#frame #sidepanel #contacts ul li.contact .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
#frame .content {
  float: right;
  margin: 0;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#frame .content .contact-profile {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}
#frame .content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}
#frame .content .contact-profile p {
  float: left;
}
#frame .content .messages {
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  width: 100%;
  overflow: auto;
}
#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
#frame .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
#frame .content .messages ul li.sent p {
  background: #23527c;
  color: #f5f5f5;
  float: right;
}
#frame .content .messages ul li.replies p {
  background: #ffffff;
  color: #435f7a;
  float: left;
}
#frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 300px;
  line-height: 130%;
}
#frame .content .message-input {
  position: relative;
  width: 100%;
  z-index: 99;
}
#frame .content .message-input .wrap {
  position: relative;
}
#frame .content .message-input .wrap input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 70px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  color: #32465a;
}
#frame .content .message-input .wrap .attachment {<style class="cp-pen-styles">body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
}
#frame .content .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}
#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;privatemessage
  cursor: pointer;
}
#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
#frame .content .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}
#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}