<h2 class="panel-heading-title"><span class="glyphicon glyphicon-th-list">&nbsp;</span>Petites annonces</h2>
<section class="container-fluid app__content">
  <div class="col-md-6">
    <button class="btn btn-info btn-lg btn-block" ng-if="appCtrl.currentuser" ng-click="offersCtrl.propose()">
      <span class="glyphicon glyphicon-pencil"></span>Proposer une annonce</button>&nbsp;
    <div class="cards cards--dashboard">

      <div class="card card--task card--dashboard" ng-repeat="offer in offersCtrl.listOffers">
        <article class="card__item">
          <div class="card__header">
            <h2 class="card__title"><big>{{offer.title}}</big></h2>
            <div class="card__action">
              <a class="btn btn-info pull-right"  ng-click="offersCtrl.description(offer.id)" title="Avoir plus d'infos">
                <span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;
            </div>
          </div>
          <aside class="card__infos">
            <dl class="card__info">
              <dt class="card__info__title">Description</dt>
              <dd class="card__info__value" title="Description">
                {{offer.description}}
              </dd>
            </dl>
            <dl class="card__info">
              <dt class="card__info__title">Prix</dt>
              <dd class="card__info__value" title="Prix">
                <div ng-if="offer.price > 0">
                  {{offer.price}} €
                </div>
                <div ng-if="offer.price <= 0">
                  Gratuit
                </div>
              </dd>
          </aside>
        </article>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <div class="center-block text-center">
          <ul uib-pagination total-items="offersCtrl.page.pageable.totalElements" ng-model="offersCtrl.page.pageable.numPage" items-per-page="offersCtrl.page.pageable.nbElt" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="offersCtrl.page.pageable.totalPages" ng-click="offersCtrl.getoffers"></ul>
        </div>
      </div>
      <div class="col-md-3 form-inline">
        <div class="form-group pull-right">
          <label for="nbEltUser">Nb éléments :</label>
          <div class="form-control">
            <select id="nbEltUser" ng-model="offersCtrl.page.pageable.nbElt" class="form-select" ng-change="offersCtrl.getoffers">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
      </div>
              
    </div>
  </div>
</section>
