<h2 class="panel-heading-title"><span class="glyphicon glyphicon-home">&nbsp;</span>Foire aux questions</h2>
<section class="container-fluid app__content">
  <div class="col-md-6">
    <div class="panel-body">
       <uib-accordion>
            <div uib-accordion-group is-open="status.open" ng-repeat="faq in faqCtrl.listFAQ">
                <uib-accordion-heading>
                    <div> <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>  {{faq.faq_questions}} </div>
                </uib-accordion-heading>
                {{faq.faq_answers}}
            </div>
			 </uib-accordion>
    </div>
  </div>
</section>
