<h2 class="panel-heading-title"><span class="glyphicon glyphicon-home">&nbsp;</span>Accueil</h2>
<section class="container-fluid app__content">
    <div class="col-md-6">
        <div class="panel-body"><p>
        	Bonjour et bienvenue sur le site Vieux3000.</br>

        	Ce site est dédié aux personnes agées. </br>

        	Il propose plusieurs services comme une messagerie, une foire aux questions, des petites annonces, des services géolocalisés.</br>

        	Vous pouvez créer un compte de manière à discuter avec les autres utilisateurs.</br>

        	On peut aussi proposer des annonces pour les autres utilisateurs.</br>

        	Vous pouvez lire les questions disponibles dans la foire aux questions <a ui-sref="app.faq">ici</a></br>

        	Si vous voulez aller voir les différents services disponibles :  <a ui-sref="app.services">ici</a></br>

        	Si vous voulez voir les annonces disponibles et proposer une annonce :  <a ui-sref="app.offers">ici</a></br>
</p>
        </div>
    </div>
</section>
